<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PlayerYouTuBeChannel" >
  <resultMap id="BaseResultMap" type="com.zed.domain.player.youtube.PlayerYouTuBeChannel" >
    <result column="channel_id" property="channelId" />
    <result column="sort" property="sort"/>
    <result column="create_time" property="createTime"/>
    <result column="creater" property="creater"/>
    <result column="update_time" property="updateTime"/>
    <result column="updater" property="updater"/>
    
  </resultMap>
  
  <resultMap type="HashMap" id="Base_Result_HashMap"></resultMap>
  
  <sql id="selectId" >
    channel_id, 
    sort, 
    create_time, 
    creater, 
    update_time,
    updater
  </sql>
  
  <insert id="add" parameterType="com.zed.domain.player.youtube.PlayerYouTuBeChannel" >
    insert into zed_player_youtube_channels
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelId != null" >
        #{channelId},
      </if>
      <if test="sort != null" >
        #{sort},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="creater != null" >
        #{creater},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="updater != null" >
        #{updater},
      </if>
    </trim>
  </insert>
	
	<select id="findListByPage" resultMap="Base_Result_HashMap">
		select 
		<include refid="selectId" />
		from zed_player_youtube_channels 
		<where>
			<if test="sorting != null">
				order by ${sorting}
			</if>
			<if test="offset != null and limit != null">
				limit #{offset},#{limit}
			</if>
		</where>
	</select>
	
	<select id="findCountByPage" resultType="Integer">
		select count(1)
		from zed_player_video_classes 
	</select>
	
	<select id="findBySortBy" resultMap="BaseResultMap">
		select 
		<include refid="selectId" />
		from zed_player_youtube_channels
		<where>
			1=1
			<if test="sort != null">
				and sort
					<if test="g != null">
						&gt;
					</if>
					<if test="l != null">
						&lt;
					</if>
				#{sort}
			</if>
			<if test="sorting != null">
				order by ${sorting}
			</if>
		</where>
	</select>
	
	<select id="findById" resultMap="BaseResultMap">
		select 
		<include refid="selectId" />
		from zed_player_youtube_channels
		where channel_id =  #{channelId}
	</select>
	
	<select id="getLastSort" resultMap="BaseResultMap">
		select 
		<include refid="selectId" />
		from zed_player_youtube_channels
		order by sort desc limit 0,1
	</select>
	
	
  <update id="update" parameterType="com.zed.domain.player.youtube.PlayerYouTuBeChannel" >
    update zed_player_youtube_channels
    <set >
      <if test="sort != null" >
        sort = #{sort},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="creater != null" >
        creater = #{creater},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="updater != null" >
        updater = #{updater},
      </if>
    </set>
    where channel_id = #{channelId}
  </update>
  
  	<update id="updateBatch" parameterType="java.util.List">
		<foreach item="item" collection="list" index="index" open="" close="" separator=";">
				update zed_player_youtube_channels
		 		set 
					sort = #{item.sort},
					update_time = NOW()
				 where channel_id = #{item.channelId}
    	</foreach>
	</update>
  
	<delete id="deleteById" parameterType="String">
		delete from zed_player_youtube_channels where channel_id in
		<foreach item="idItem" collection="array" open="(" separator="," close=")">
			#{idItem}
		</foreach>
	</delete>
	
	<select id="addBatch" parameterType="java.util.List">  
	    insert into zed_player_youtube_channels(
			channel_id, 
		    sort, 
		    create_time, 
		    creater, 
		    update_time,
		    updater
		) values
	    <foreach collection="list" item="item" index="index" separator=",">  
	      (
	      #{item.channelId}, 
	      #{item.sort},
	      #{item.createTime}, 
	      #{item.updateTime}, 
	      #{item.creater}, 
	      #{item.updater}
	      )
	    </foreach>  
    </select>
	
</mapper>